
:root {
    --primary-color: #61646B;
    --text-primary: #2E323B;
    --White-primary: #fff;
    --button-primary: #3E3FD8;
 }

body {
    max-width: 1440px;
    height: 4500px;
    overflow-x: hidden;
    overflow-y:initial;
}
.scroll-one {
    width: 1440px;
    height: 808px;
    background-color: var(--White-primary, #EEF4FF) ;
}
.rect-fundo {
    position: absolute;
    top: 0px;
    left: 995px;
    width: 445px;
    height: 808px;
    background: rgba(62, 63, 216, 0.75);
    border-radius: 60px 0px 0px 60px;
    z-index: 1;
}
.rect-opact {
    position: absolute;
    top: 132px;
    left: 779px;
    width: 501px;
    height: 514px;
    border-radius: 60px;
    background: rgba(239, 139, 141, 0.90);
    z-index: 3;
}
.img-index {
    position: absolute;
    top: 80px;
    left: 728px;
    width: 601px;
    height: 878px;
    z-index: 4;
}
.header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 132px;
    padding: 36px 160px;
    gap: 144px;
    z-index: 2;
}
.logo {
    color: var(--button-primary);
    font-size: 36px;
    font-weight: 700;
}
.navigator .navigator-list {
    display: inline-flex;
    gap: 64px;
}
.list-item a {
    color: var(--text-primary, --primary-color);
    font-size: 24px;
    font-weight: 400;
}
.button-header button {
    width: 170px;
    height: 60px;
    border: solid 1px var(--White-primary, #EEF4FF);
    border-radius: 20px;
    color: var(--button-primary, #3E3FD8);
    font-size: 18px;
    font-weight: 400;
}
.text-prominence h1{
    width: 550px;
    height: 264px;
    color: var(--text-primary, #2E323B);
    font-size: 64px;
    position: relative;
    
}
.text-prominence p {
    width: 455px;
    height: 54px;
    color: #61646B;
    font-weight: 400;
    font-size: 18px;
    position: relative;
    left: 160px;
    top: 140px;
}
.button-main {
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
    left: 190px;
    top: 140px;
}
.button {
    display: flex;
    align-items: center;
    gap: 30px;
    cursor: pointer;
    
}
.get {
    width: 170px;
    height: 60px;
    border-radius: 20px;
    background-color: var(--button-primary, #3E3FD8);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: 18px;
    color: var(--White-primary, #EEF4FF);
    font-weight: 400;
    cursor: pointer;
}

.button img {
    width: 48px;
    height: 48px;
}
.button-text {
    color: var(--primary-color, #61646B);
    font-size: 18px;
    font-weight: 500;
}
.team {
    width: 269px;
    height: 120px;
    border-radius: 20px;
    background: var(--white-primary, #EEF4FF);
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.25);
    position: relative;
    left: 30px;
    z-index: 4;
}
.team .team-people {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.team-people p {
    color: var(--text-primary, #2E323B);
    margin: 22px 58px 72px 59px;
    font-size: 18px;
    font-weight: 600;
}
.team-people .people {
    position: absolute;
    display: flex;
    margin: 58px 71px 22px 43px;
}
.foto {
    width: 40px;
    height: 40px;
    border: 1px solid var(--White-primary, #EEF4FF);
    border-radius: 20px;
    position: absolute;   
}
.team-ft1 {
    top: -15px;
    left: -83px;
    z-index: 2;  
}
.team-ft2 {
    top: -15px;
    left: -53px;
    z-index: 3;   
}
.team-ft3 {
    top: -15px;
    left: -23px;
    z-index: 4;
}
.team-ft4 {
    top: -15px;
    left: 3px;
    z-index: 5;
}
.team-ft5 {
    top: -15px;
    left: 33px;
    z-index: 6;
}
.team-ft6 {
    top: -15px;
    left: 63px;
    z-index: 1;
}
