@import url(/assets/css/reset.css);

:root {
    --primary-colo: #61646B;
    --text-primary: #2E323B;
    --White-primary: #fff;
    --button-primary: #3E3FD8;
 }

body {
  width: 100vh;
  height: auto;  
}
.header {
    position: relative;
    align-items: center;
    display: flex;
    width: 1120px;
    height: 60px;
    top: 36px;
    left: 110px;
    justify-content: space-between;   
}
.logo {
    color: var(--button-primary, #3E3FD8);
    font-size: 36px;
    font-weight: 700;
    cursor: pointer;
    
    
}
.navigator .navigator-list{
    display: inline-flex;
    align-items: flex-start;
    gap: 64px;
    color: var(--dark-primary, #61646B);
}
ul li a {
    color: #61646B;
    font-size: 24px;
    font-weight: 400;

}
.button-header button {
    width: 170px;
    height: 60px;
    border-radius: 20px;
    border: solid 1px var(--White-primary);
    background: var(--white-primary, #EEF4FF);
    color: var(--button-primary, #3E3FD8);
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
}
.main {
}
.text-prominence h1 {
    position: relative;
    display: flex;
    color: var(--text-primary, #2E323B);    
    width: 550px;
    height: 264px;
    top: 150px;
    left: 110px;
    font-size: 64px;
    font-weight: 700;   
}
.text-prominence p {
    position: relative;
    color: var(--dark-primary, #61646B);
    width: 455px;
    height: 54px;
    top: 212px;
    left: 110px;
    font-size: 18px;
    font-weight: 400; 
}
.button-main {
    position: absolute;
    top: 650px;
}
.get {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 60px;
    border-radius: 20px;
    border: solid 1px var(--button-primary);
    background: var(--button-primary, #3E3FD8);
    gap: 15px;
    color: var(--white-primary, #EEF4FF);
}
.waatch {
    width: 48px;
    height: 48px;
    background-color: white;
    border: none;
}
.button-main p {
    display: inline-flex;
    width: 139px;
    height: 26px;
}
.test {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.tst2 {
    position: relative;
    
}
